*
{
    padding: 0;
    margin: 0;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #358597;
}

h1
{
    font-size: 200px;
    color: #f4a896;
    letter-spacing: 4px;
}

.sub_title
{
    font-size: 20px;
    color: #f4a896;
    text-align: center;
    max-width: 800px;
}

.cursor
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.09s;
    opacity: 75%;
}

.cursor_dot
{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.07s;
    opacity: 75%;
}

.noise
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 5%;  
    z-index: 1000;
    pointer-events: none;
    background: url(noise.gif) ;
}
